@import "../../../assets/scss/variable.scss";

.launch-main{
    background-image: url(../../../assets/images/icons/launch-bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 148px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    svg{
        margin-bottom: 48px;
    }
    p{
        margin-bottom: 24px;
        color: $primary;
        max-width: 650px;
    }
    a{
        margin-top: 48px;
    }
    @include md{
        padding: $padding60 0;
    }
}

.landing-btns{
    .pt-btn {
      font-size: 16px;

      &:hover {
        color: $white;
      }

      @include md {
        font-size: $ft-h7;
        min-width: 136px;
      }
    }
  }