@import "../../../assets/scss/variable.scss";

.get-started-main{
    margin-bottom: 120px;
    margin-top: -120px;
    @include lg {
        margin-top: 0px;
    }
    h4{
        margin-bottom: 24px;
        font-size: $ft-h3;
    }
    .get-started-content{
        display: flex;
        .whats-box{
            width: calc(50% - 12px);
            margin-left: 12px;
            padding: $padding24;
            background: $light_secondary2;
            border-radius: 40px;
            text-align: center;
            &:first-child{
                margin-left: 0;
                margin-right: 12px;
            }
            svg{
                margin-bottom: 24px;
            }
            h5{
                font-size: $ft-h5;
                line-height: 22px;
                margin-bottom: 12px;
            }
            p{
                font-weight: $fw400;
                    font-size: $ft-h5;
                    line-height: 25px;
                    color: $gray;
                    margin-bottom: 12px;
                    @include sm{
                        font-size: $ft-h6;
                        line-height: normal;
                    }
            }
            ul{
                text-align: left;
                li{
                    font-weight: $fw400;
                    font-size: $ft-h5;
                    line-height: 22px;
                    color: $gray;
                    margin-bottom: 12px;
                    span{
                        height: 20px;
                        width: 20px;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        background-color: $secondary;
                        color: $white;
                        margin-right: 12px;
                        border-radius: 50%;
                        font-weight: $fw700;
                        font-size: $ft-h6;
                        line-height: 17px;
                    }
                    @include sm{
                        font-size: $ft-h6;
                        line-height: normal;
                    }
                }
            }
            @include md{
                width: 100%;
                margin: 0 0 $padding24 !important;
            }
        }
        @include md{
            flex-wrap: wrap;
        }
    }
}