@import "../../../assets/scss/variable.scss";

.get-started-main{
    margin-bottom: 120px;
    .title{
        h2{
            flex-wrap: wrap;
            span{
                text-transform: none;
            }
        }
    }
    &.without-insta{
        background-image: url(../../../assets/images/icons/getstrated.svg);
        background-size: auto;
        background-position: right;
        background-repeat: no-repeat;
        margin-bottom: 0;
        padding-bottom: $padding120;
        .get-started-insta{
            .row{
                @include md{
                    flex-wrap: wrap;
                    .col{
                        flex: inherit;
                        width: 33.33%;
                    }
                }
                @include sm{
                    .col{
                        width: 50%;
                    }
                }
            }
        }
        @include md{
            padding-bottom: $padding60;
        }
    }
    h4{
        margin-bottom: 24px;
        font-size: $ft-h3;
    }
    .without-insta-box {
        position: relative;
        padding-left: $padding24;
        padding-top: 58px;
        z-index: 1;
        span {
            font-weight: 700;
            font-size: 80px;
            line-height: 98px;
            text-transform: lowercase;
            color: #D0EDEB;
            position: absolute;
            z-index: -1;
            left: 0;
            top: 0;
        }
        h6{
            margin-bottom: 0;
            font-size: $ft-h5;
        }
        p{
            font-size: $ft-h5;
        }
    }
    
}